 /*general*/
 body {
    margin: 0;
    font-family: "Roboto", Arial;
    padding-left: 305px;
    padding-right: 25px;
    padding-top: 35px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 1270px) {
    body {
          padding-left: 118px;
          padding-right: 45px;
         
 
    } 
 }

/* @media (max-width: 1270px) {
   body {
         padding-left: 100px;

   } 
} */