.instagram-content {
    padding-left: 22px;
    padding-right: 25px;
    padding-top: 35px;
    margin-right: 55px;
}

.content-info {
    display: flex;
}

.image-box {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
    height: 160px;
    cursor: pointer;
}

.image-box {
    position: relative;
}

.note-area {
    position: absolute;
    width: 60px;
    height: 40px;
    top: -30px;
    left: 45px;
    border-radius: 14px;
    background-color: white;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    

    
}

.note-area span {
    position: absolute;
    font-size: 11px;
    top: 14px;
    left: 5px;
    color: rgb(151, 149, 149);
    font-weight: 700;
}

.abosu {
    position: relative;
    width: 60px;
}

.arrow-icons {
    position: absolute;
    background-color: rgb(238, 233, 233);
    width: 14px;
    height: 24px;
    z-index: 50;
    top: -23px;
    right: -37px;
}

.little-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    top: 5px;
    left: 57px;
    border-radius: 5px;
}

.small-circle {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    top: 15px;
    left: 66px;
}

.instagram-profile-picture {
    border-radius: 80px;
    cursor: pointer;
}

/* .instagram-profile-left-section {
margin-right: 47px;
} */



.instagram-profile-right-section {
    flex: 1;
    height: 190px;
}

.top-section {
    margin-top: 5px;
    margin-bottom: 20px;
}

.user-content {
    display: flex;
    margin-right: 178px;
}

.user-name {
    padding-top: 5px;
    font-size: 21px;
    margin-right: 15px;
    cursor: pointer;
}

.profile-btn {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 15px;
    background-color: rgb(238, 236, 236);
    border: none;
    border-radius: 8px;
   white-space: nowrap;
   cursor: pointer;
}

.profile-btn:hover {
    background-color: rgb(207, 206, 206);
}

.edit-btn {
    margin-right: 10px;
    
}

.middle-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
}

.middle-section .inst {
    margin-left: 22px;
}

.middle-section p .num {
    font-weight: 700;
    padding-top: 3px;
}

.middle-section p .text {
    padding-top: 3px;
    padding-left: 4px;
}

.bottom-section {
    margin-top: 20px;
    cursor: pointer;
}

.owner-name {
    font-weight: 550;
    font-size: 13px;
    color: rgb(48, 48, 48);
    
}

.pronouns {
    font-size: 13px;
    margin-left: 12px;
}

.bottom-section p .pronouns {
    color: rgb(151, 149, 149);
}

.caption {
    margin-top: 3px;
    font-size: 14px;
}

.caption-message {
    font-size: 14px;
}


.hidden-text {
    display: none;
    font-size: 14px;
}

.word {
    cursor: pointer;
    color: rgb(161, 161, 161);
    text-decoration: none;
    font-size: 14px;
}

.period {
    color: black;
}

.story-section {
    margin-top: 50px;
}

.story-highlights {
    display: flex;
    padding-left: 25px;
}

.story-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.story-info {
    margin-right: 22px;
    margin-left: 21px;
}

.story img {
    width: 70px;
    height: 70px;
    border-radius: 40px;
    padding: 3px;
    border: 2px solid rgb(201, 201, 201);
}

.story-container div {
    font-size: 13px;
    font-weight: 700;
    margin-top: 13px;
    margin-bottom: 50px;
}

.underline {
    position: relative;
}

.horizontal-rule {
    border: 1pt solid rgb(226, 226, 226);
}

.post-rule {
    width: 57px;
    position: absolute;
    top: -39px;
    left: -6px;
    border-color: black;

}

.toggle-flex {
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toggler img {
    height: 12px;
    margin: 2px 4px 2px 0px;
}

.toggler .imgs {
    height: 13px;
    margin: 2px 4px 2px 0px;
}

.toggler .imgsa {
    height: 16px;
    margin: 1px 4px 1px 0px;
}

.toggler .toggle-name, .toggler .toggle-names {
    font-size: 13px;
    text-transform: uppercase;
    
}

.toggler .toggle-names {
    color: rgb(170, 170, 170);
}

.toggler {
    display: flex;
    margin-right: 49px;
}

.instagram-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4px;
   
}

.instagram-pictures  img {
    width: 100%;
    cursor: pointer;
    /* height: 200px; */
}

.instapic1, .instapic2, .instapic3 {
    position: relative;
}

.image-stack-icon {
    position: absolute;
    top: 10px;
    right: 7px;
}

.image-stack-icon img {
    width: 17px;
}

.hover-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3px;

    transition: background-color 0.15s ease-in,
        opacity 0.15s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
    opacity: 0;
    cursor: pointer;
}

.hover-cover:hover {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}

.inst-post-like {
    display: flex;

}

.inst-post-like .like-icon {
    width: 20px;
    height: 20px;
    padding-right: 7px;
    padding-top: 3px;
}

.inst-post-like .like-num {
    font-weight: 800;
    color: rgb(226, 226, 226);
    vertical-align: middle;
    
}

/* .inst-post-like .like-icon, .inst-post-like .like-num {
    opacity: 0;
} */
