/* instagram-content {
    padding-left: 22px;
    padding-right: 25px;
    padding-top: 35px;
    margin-right: 55px;
} */

/* .instagram-content {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 25px;
} */

/* .image-size {
    width: 100px;
} */

.picture {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 32px;
}

.content-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;

}

@media (max-width: 1270px) and (min-width:876px) {
    .content-info {
        column-gap: 49px;
    }
}

@media (max-width:875px) {
    .content-info {
        column-gap: 39px;
    }
}

.image-box {
    /* margin-left: 70px;
    margin-right: 70px;
    margin-top: 25px; */
    
    cursor: pointer;
}

/* @media (max-width: 870px) {
    .image-box {
        margin-left: 20px;
        margin-right: 30px;
        margin-top: 30px;
    }
} */
 

.instagram-profile-picture {
    border-radius: 80px;
    cursor: pointer;
    height: 150px;
}

@media (max-width:769px) {

   .small-screen-layout {
    display: flex;
    align-items: center;

   }

   .instagram-profile-left-section {
    width: 120px;
   }

    .instagram-profile-picture2 {
        width: 80px;
        height: 80px;
        border-radius: 40px;
    }

    .picture {
        display: block;
        padding-top: 175px;
    }

    .user-content2 {
        display: flex;
    }

    .frerseh{
        padding-top: 75px;
    }

    .btnser {
        display: flex;
        line-height: 70px;
    }

    .content-info {
        display: none;
    }
    .story-section {
        margin-top: 22px !important;
    }

    .story-highlights {
        padding-left: 10px !important;
    }
    
    .story-info {
        margin-left: 0 !important;
        margin-right: 10px !important;
    }

    .story img {
        width: 56px !important;
        height: 56px !important;
    }

    .theiewiuey {
        display: block !important;
        margin-left: 10px;
    }

    .note-area {
        position: absolute;
        width: 60px;
        height: 40px;
        top: -28px !important;
        left: 3px !important; 
        border-radius: 14px;
        background-color: white;
        box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.042),
        -1px -1px 1px rgba(0, 0, 0, 0.037);
        cursor: pointer;
        
    
        
    }
    
    .note-area span {
        position: absolute;
        font-size: 11px;
        top: 14px;
        left: 5px;
        color: rgb(151, 149, 149);
        font-weight: 700;
    }
    
    .abosu {
        position: relative;
        width: 60px;
    }
    
    .arrow-icons {
        display: none;
    }
    
    /* .icons-arrows {
        display: none;
    } */
    
    /* .upward-arrow {
        position: absolute;
        width: 11px;
        top: 0;
        right: 4px;
    }
    
    .downward-arrow {
        position: absolute;
        width: 11px;
        bottom: -24px;
        right: 4px;
    } */
    
    .little-circle {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: white;
        top: 7px !important;
        left: 18px !important;
        border-radius: 5px;
    }
    
    .small-circle {
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: white;
        border-radius: 4px;
        top: 17px !important;
        left: 25px !important;
    }
    
    
}

.theiewiuey {
    display: none;
}

.image-box {
    position: relative;
}

.note-area {
    position: absolute;
    width: 60px;
    height: 40px;
    top: -30px;
    left: 45px;
    border-radius: 14px;
    background-color: white;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.042),
    -1px -1px 1px rgba(0, 0, 0, 0.037);
    cursor: pointer;
    

    
}

.note-area span {
    position: absolute;
    font-size: 11px;
    top: 14px;
    left: 5px;
    color: rgb(151, 149, 149);
    font-weight: 700;
}

.abosu {
    position: relative;
    width: 60px;
}

.arrow-icons {
    position: absolute;
    background-color: rgb(238, 233, 233);
    width: 14px;
    height: 24px;
    z-index: 50;
    top: -23px;
    right: -37px;
}

.icons-arrows {
    position: relative;
    width: 17px;
    cursor: default;
}

.upward-arrow {
    position: absolute;
    width: 11px;
    top: 0;
    right: 4px;
}

.downward-arrow {
    position: absolute;
    width: 11px;
    bottom: -24px;
    right: 4px;
}

.little-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    top: 5px;
    left: 57px;
    border-radius: 5px;
}

.small-circle {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    top: 15px;
    left: 66px;
}



/* .instagram-profile-left-section {
margin-right: 47px;
} */



.instagram-profile-right-section {
    height: 190px;
}

.top-section {
    margin-top: 5px;
    margin-bottom: 20px;
}

.user-content {
    display: flex;
    margin-right: 178px;
}

.user-name {
    padding-top: 5px;
    font-size: 21px;
    font-weight: normal;
    margin-right: 15px;
    cursor: pointer;
}

@media (max-width:768px) {
    .toggle-flex {
        display: none !important;
    }

    .horizontal-rule {
        display: none !important;
    }

}

.profile-btn {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 15px;
    background-color: rgb(238, 236, 236);
    border: none;
    border-radius: 8px;
   white-space: nowrap;
   cursor: pointer;
}



.profile-btn:hover {
    background-color: rgb(207, 206, 206);
}

.edit-btn {
    margin-right: 10px;
    
}

.setting-icon {
    height: 23px;
    margin: 4px 15px 4px 15px;
    cursor: pointer;
}

.middle-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
}

.middle-section .inst {
    margin-left: 22px;
}

.middle-section p .num {
    font-weight: 700;
    padding-top: 3px;
}

.middle-section p .text {
    padding-top: 3px;
    padding-left: 4px;
}

.bottom-section {
    margin-top: 20px;
    cursor: pointer;
}

.owner-name {
    font-weight: 550;
    font-size: 13px;
    color: rgb(48, 48, 48);
    
}

.pronouns {
    font-size: 13px;
    margin-left: 12px;
}

.bottom-section p .pronouns {
    color: rgb(151, 149, 149);
}

.caption {
    margin-top: 3px;
    font-size: 14px;
}

.caption-message {
    font-size: 14px;
}


.hidden-text {
    display: none;
    font-size: 14px;
}

.word {
    cursor: pointer;
    color: rgb(161, 161, 161);
    text-decoration: none;
    font-size: 14px;
}

.period {
    color: black;
}

.story-section {
    margin-top: 50px;
}

.story-highlights {
    display: flex;
    padding-left: 25px;
}

.story-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.story-info {
    margin-right: 22px;
    margin-left: 21px;
}

.story img {
    width: 70px;
    height: 70px;
    border-radius: 40px;
    padding: 3px;
    border: 2px solid rgb(201, 201, 201);
}

.story-container div {
    font-size: 13px;
    font-weight: 700;
    margin-top: 13px;
    margin-bottom: 50px;
}

.underline {
    position: relative;
}

.horizontal-rule {
    border: 1pt solid rgb(226, 226, 226);
}

.post-rule {
    width: 57px;
    position: absolute;
    top: -39px;
    left: -6px;
    border-color: black;

}

.toggle-flex {
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.toggler img {
    height: 12px;
    margin: 2px 4px 2px 0px;
}

.toggler .imgs {
    height: 13px;
    margin: 2px 4px 2px 0px;
}

.toggler .imgsa {
    height: 16px;
    margin: 1px 4px 1px 0px;
}

.toggler .toggle-name, .toggler .toggle-names {
    font-size: 13px;
    text-transform: uppercase;
    
}

.toggler .toggle-names {
    color: rgb(170, 170, 170);
}

.toggler {
    display: flex;
    margin-right: 49px;
}

.instagram-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4px;
   
}

.instagram-pictures  img {
    width: 100%;
    cursor: pointer;
    /* height: 200px; */
}

.instapic1, .instapic2, .instapic3 {
    position: relative;
}

.image-stack-icon {
    position: absolute;
    top: 10px;
    right: 7px;
}

.image-stack-icon img {
    width: 17px;
}

.hover-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3px;

    transition: background-color 0.15s ease-in,
        opacity 0.15s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
    opacity: 0;
    cursor: pointer;
}

.hover-cover:hover {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}

.inst-post-like {
    display: flex;

}

.inst-post-like .like-icon {
    width: 20px;
    height: 20px;
    padding-right: 7px;

}

.inst-post-like .like-num {
    font-weight: 800;
    color: rgb(226, 226, 226);

    
}



/* .inst-post-like .like-icon, .inst-post-like .like-num {
    opacity: 0;
} */

/*footer*/

.inst-links-flex {
    width: 100%;
    margin-top: 33px;
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   line-height: 20px;

    /* margin-left: 77px; */
    
}

.numberandtogglename {
    display: none;
}

@media (max-width:768px) {
    .inst-links-flex {
        display: none;
    }

    .wrapp {
        display: none !important;
    }

    .numberandtogglename {
        display: block !important;
    }

    .trttte {
        border-top: 2px solid rgb(226, 226, 226);
        border-bottom: 2px solid rgb(226, 226, 226);
        margin-bottom: 15px !important;
         
        display: flex;
        justify-content: space-around;
        padding: 10px 0px;
         
    }

    .nfuufuf, .hrrhr, .jtjjjt {
        text-align: center;
        font-weight: 600;
    }

    .fhhfgr, .kkkrrj, .jffuuff {
        color: rgb(151, 149, 149);
    }

    .instagram-pictures {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 4px;
       
    }
    
    .instagram-pictures  img {
        width: 100%;
        cursor: pointer;
        /* height: 200px; */
        margin-bottom: 900px;
    }
    
    .instapic1, .instapic2, .instapic3 {
        position: relative;
    }
    
    .image-stack-icon {
        position: absolute;
        top: 10px;
        right: 7px;
    }
    
    .image-stack-icon img {
        width: 17px;
    }
    
    .hover-cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 3px;
    
        transition: background-color 0.15s ease-in,
            opacity 0.15s ease-in;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 27px;
        opacity: 0;
        cursor: pointer;
    }
    
    .hover-cover:hover {
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 1;
    }
    
    .inst-post-like {
        display: flex;
    
    }
    
    .inst-post-like .like-icon {
        width: 20px;
        height: 20px;
        padding-right: 7px;
    
    }
    
    .inst-post-like .like-num {
        font-weight: 800;
        color: rgb(226, 226, 226);
    
        
    }
}

.instagram-links {
    font-size: 12px;
    margin-left: 6px;
    margin-right: 4px;
    color: rgb(141, 141, 141);
    white-space: nowrap;
    cursor: pointer;
    transition: text-decoration 0.15s ease-out;
}

.instagram-links:hover {
    text-decoration: underline;
}

.wrapp {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}



#languages {
    border: none;
    color: rgb(117, 117, 117);
    vertical-align: middle;
    appearance: none;
    background: url(icons/down-arrow\ \(1\).png) no-repeat  center;
    background-size: 27px;
}

#languages:focus {
    outline: none;
}

.copyright {
    font-size: 13px;
    color: rgb(141, 141, 141);
} 

@media (min-width:767px) {
    .header {
        display: none;
    }

    .base-navigation {
        display: none;
    }
}

@media (max-width:768px) {
    

    .header {
        /* width: 100%; */
        height: 40px;
        display: flex ;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    
        border: 1px solid rgb(218, 218, 218);
        padding: 0 16px;
    }
    
    .header-icon {
        height: 22px;
        
    }

    .base-navigation {
        position: fixed;
        background-color: white;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-evenly;
      
    }

    .base-nav-links img {
        height: 27px;
        padding: 12px;
        
    }

    /* .base-nav-links img .base-name-icon-user {
        border-radius: 17px;
        padding: 12px;
    } */
}
