/*sidebar*/
.sidebar-menu {
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 220px;
    padding: 8px 12px 20px 12px;
    border-right: 1px solid rgb(221, 218, 218);
    z-index: 10;
    cursor: pointer;
}


.instagram-name {
    height: 90px;
    padding-top: 20px;           
}

.instagram-new  {
    visibility: hidden;
}

.sidebar-icons {
    height: 23px;
    margin: 4px 15px 4px 15px;
}

.sidebar-links {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.sidebar-links:hover {
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
}

.sidebar-links:active {
    opacity: 0.3;
}

.messages-container, .notificayion-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-number {
    position: absolute;
    top: -3px;
    right: 10px;
    background-color: rgb(218, 62, 62);
    color: white;
    font-size: 11px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
    border: 2px solid white;
}

.notify {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: rgb(218, 62, 62);
    border-radius: 6px;
    border: 2px solid white;
    top: 2px;
    right: 10px;
}

.user-picture {
    height: 30px;
    margin: 4px 15px 4px 15px;
    border-radius: 15px;
}

@media (max-width: 1264px) and (min-width:769px) {
    .sidebar-menu {

        width: 51px;
    }

    .sidebar-links .side-name {
        visibility: hidden;
    }

    .sidebar-icons {
        text-align: center;
    }

    .instagram-name  {
        visibility: hidden;
        padding-top: 0px;
    }

    .instagram-new {
        height: 23px;
        visibility: visible;
        padding-left: 13px;
        padding-bottom: 12px;
    }
}

@media (max-width:768px) {
    .sidebar-menu {
       display: none;
    }
} 